﻿@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron panel-title">
    <h1>NEFİS TATLI TARİFLERİ </h1>
   

    <p align="right">
        <form method="get" action="http://localhost:1857/Home/Index" target="_blank">
            <input size="23" ength="255" max="" style="“border-style: " name="q" value="" type="text" /> <input type="submit" style="“color: " name="btng" value="ara" /><input type="radio" checked="checked" name="sitesearch" value="http://localhost:1857/Home" /><input type="hidden" name="forid" value="1" /> <input type="hidden" name="ie" value="UTF-8" /> <input type="hidden" name="oe" value="UTF-8" />  <input type="hidden" name="cof"> <input type="hidden" name="hl" value="tr" />
        </form>
    </p>

   @*http://www.google.com/search  yukatıda action içindeydi onu değişitirdim*@

</div>

<div class="row">
    <div class="col-md-3">
        
        <h2><i><span style="color:lightpink">FAYDALI BİLGİLER</span></i></h2>
        <p>
            <ul>
                <li>
                    Kadife ve ipekli elbiselerinizi buharlı bir banyoya asın. Buhar onların
                    tüm kırışıklıklarını alacaktır.
                </li>
                <li>
                    Gözlüğünüzün vidası çok çabuk çıkıyorsa vidayı takmadan önce, vidanın
                    gireceği deliğe renksiz oje damlatın. Vidayı öyle takın.
                </li>
                <li>
                    Satın aldığınız ayakkabılar ayağınızı sıkıyor ise onları bir kaç dakika
                    buhara tutun.
                </li>
                <li>
                    Halıdaki sigara yanıklarından, yanık yerler üzerinde zımpara kağıdı ile
                    dairesel hareketler yaparak kurtulabilirsiniz.
                </li>
               
            </ul>



            <h2><i><span style="color:lightgreen">PÜF NOKTALAR</span></i></h2>
            

<ul>
    <li>
         Yemek yapmak bir sanattır.
    </li>
    <li>
     Yemek yapmadan önce malzemelerinizi tamamlamanız gerekir.
</li><li>
     Öncelikle malzemelerin temiz ve hijyenik olmalıdır.
</li>
    <li>
         Malzemeler düzgün soyulmalı ve doğranmalıdır.
    </li>
    <li>
         Tuz ve baharat çeşitleri yanınızda olmalıdır.
    </li>
    <li>
         Koyacağınız yağa karar vermelisiniz.
    </li>
    <li>
         Her yemeğe değişik yağ yakışır.
    </li>
    <li>
         Tuzlu suda bekletilecek malzemeleri önceden ayarlayın.
    </li>
    <li>
         Suda bekletilen malzemelerin sularının iyice süzülmesi gerekir.
    </li>
    <li>
         Akşamdan su bekletilecek, malzemeleri akşamdan su da bekletin.
    </li>
    <li>
         Pişirmeden önce bir taşım kaynatılacak malzemeleri kaynatın.
    </li>
    <li>
         Yemekler pişmesine göre çeşitlenir.
    </li>
   
</ul>





        </p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-3">
        <p>
            <span style="color:#ffffff">.</span>
        </p>
        <h2><a><i><span style="color:red">SÜTLÜ TATLILAR</span></i></a></h2>
        <img src="~/fonts/sut.jpg" width="250" height="230">

        <p><a class="btn btn-default" @*href="http://go.microsoft.com/fwlink/?LinkId=301865"*@>GİT &raquo;</a></p>
        <p> 
            <span style="color:#ffffff">.</span>
        </p>
        <p>
            <span style="color:#ffffff">.</span>
        </p>
        <p>
            <span style="color:blueviolet">Burcunuz ne?</span>
        </p>
        <p>
            <span style="color:#ffffff">.</span>
        </p>
        <script language="javascript" src="http://is.sitekodlari.com/burclar2.js"></script><br><a href="http://www.sitekodlari.com/burckodu.php">@*<font size="1">Günlük Burç Yorumu</font>*@</a>


    </div>

    <div class="col-md-3">
        <h2><a><i><span style="color:mediumpurple">ŞERBETLİ TATLILAR</span></i></a></h2>
        <img src="~/fonts/serbetli-tatlilar.jpg" width="250" height="250">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">GİT &raquo;</a></p>

        <p>
            <span style="color:#ffffff">.</span>
        </p>
        <p>
            <span style="color:#ffffff">.</span>
        </p>
        

        <script language="javascript" src="http://is.sitekodlari.com/havadurumu1.js"></script><br><a href="http://www.sitekodlari.com/havadurumukodu.php">@*<font size="1">Sitene Hava Durumu Ekle</font>*@</a>


    </div>



    <div class="col-md-3">
        <h2>

            <script language="javascript" src="http://is.sitekodlari.com/takvim5.js"></script>
            <p>GÜNÜN TATLISI
            <img src="~/fonts/tiram.jpg" width="180" height="129" alt="Tiramisu" ></p>

        
        </h2>
        <h2><a><i>Kolay Tiramisu Tarifi İçin Malzemeler</i></a></h2>

        <p>
            <ul><li>
    1 paket hazır kakaolu pastaban,
</li>
    Kreması için :
<li>
    1 adet yumurtanın sarısı,
</li>
                <li>
                    3 türk kahve fincanı un,
                </li>
                <li>
                    1 paket labne (200 gr),
                </li>
                <li>
                    2,5 su bardağı süt,
                </li>
                <li>
                    3 türk kahve fincanı toz şeker,
                </li>
                

                    Islatmak İçin :
               
                <li>

                    1 türk kahvesi fincanı sıcak su,
                </li>
                <li>
                    2 çorba kaşığı toz şeker,
                </li>
                <li>
                    2 çorba kaşığı nescafe.
                </li>
    Üzeri için:

                <li>
                    kakao
                </li>
                
</ul>
            </p>

        
    </div>






    </div>